body{
  background-color: rgb(91, 106, 194)
}
.main-background{
  background-color: rgb(91, 106, 194)
}

.ne-title{
  font-size: 8vw;
  font-family: 'Prata', serif;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

* {
  box-sizing: border-box;
}

.container {
  padding: 64px;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both
}

/* 2/3 column */
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/3 column */
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.stack {
  font-family: 'Roboto Mono', monospace;
}

.stack:hover + .hide {
  display: block;
  color: #228381
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
}

.button {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  border-radius: 50%;
  background-color: #c926e1;
  border: none;
  color: #0029ff;
  text-align: center;
  font-size: 31px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.hide{
  display: none;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid black;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 50px solid black;
}

.skill1{
  font-family: 'ABeeZee', sans-serif;
  color: #1be9cd;
}

.skill2{
  font-family: 'ABeeZee', sans-serif;
  color: #1be9f2;
}
